.body-wrapper{
      font-family: 'Montserrat', sans-serif;
      width:100%;
      height:100%;
      padding:0;
      /*background-size: cover;*/
      background-color: #819FF7;
    }
.mainPageTitle{
	font:impact;
	color:#FFFFFF;
	text-align:center;
	font-size: 5em;
	font-weight: bold;
	padding-top: 50px;

}
.joinButton{
	vertical-align: center;
	width:250px;
	height: 75px;
	margin: 10px;
	margin-top: 75px;
}
.invisbleTable{
	display: none;
}
.tableCells{
width:200px;
height:75px;
font-family: 'Montserrat', sans-serif;
border: 5px, solid, #FFFFFF;
text-align: center;
background-color: #819FF7;
}

.par{
	font-size: 20pt;
	color: white;
}

.row{
	text-align: center;
}

.category{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-left: 50px;
	font-size: 1.75em;
	color:white;
}